---
layout: default
pagename: frontpage
block: "2015-2016"
season: winter
---

<div class="frontpage">
 <h1>ΤΕΦΑΑ - 2015-2016</h1>
<h2>Εξεταστική</h2> 
  <div class="block--exetastiki">
     
     {% for year in site.data.phed-data.aliases %}
      <div class="block-item">
         <div class="block-title">{{ year.year }}</div>
         {% for class in (1..10) %}
            <div class="class">
               <a href="{{site.baseurl}}/pages/exetastiki/{{page.season}}/{{page.block}}/exetastiki_{{ year.alias }}#{{ year.class }}{{ class }}"> {{ year.class }}{{ class }}</a>
              </div>
            {% endfor %}
           </div>
         {% endfor %}
     
      </div>

<h2>Επιλεγόμενα</h2>
  <div class="block--exetastiki">

      <div class="block-item">
         <div class="block-title">ανά ομάδα</div>

             <div class="menu-item seasonwinter" >
              <a  href="{{site.baseurl}}/pages/epilegomena/winter/2015-2016/epilegomena-winter-team">(χειμερινό εξάμηνο)</a>
           </div>
            <div class="menu-item seasonspring" >
              <a  href="{{site.baseurl}}/pages/epilegomena/spring/2015-2016/epilegomena-spring-team">(εαρινό εξάμηνο)</a>
           </div>

           </div>
 
      <div class="block-item">
         <div class="block-title">ανά ημέρα</div>

             <div class="menu-item seasonwinter" >
              <a  href="{{site.baseurl}}/pages/epilegomena/winter/2015-2016/epilegomena-winter-day">(χειμερινό εξάμηνο)</a>
           </div>
              <div class="menu-item seasonspring" >
              <a  href="{{site.baseurl}}/pages/epilegomena/spring/2015-2016/epilegomena-spring-day">(εαρινό εξάμηνο)</a>
           </div>   

     </div>
     
     <div class="block-item details">
           <div class="menu-item" >
              <a  href="{{site.baseurl}}/pages/epilegomena/epilegomena-onefile-allsemester">ΕπιλεγόμεναΕπιλεγόμενα ανά ομάδα</a>
           </div>
           <div class="menu-item" >
              <a  href="{{site.baseurl}}/pages/epilegomena/epilegomena-onefile-teacher">ΕπιλεγόμεναΕπιλεγόμενα ανά υπεύθυνο</a>
           </div>
        </div>  
<h2>Εύρεση</h2>     
          <div class="block-item details">
           <div class="menu-item" >
              <a  href="{{site.baseurl}}/pages/search-angolia-epilegomena/">Επιλεγόμενα</a>
           </div>
           <div class="menu-item" >
              <a  href="{{site.baseurl}}/pages/search-angolia-courses/">Μαθήματα</a>
           </div>
        </div>
     
      </div>

