<div id="courses" class="cards {{ course.categories}} {{ course.age}} {{ course.level}}">

   
<!--  for listjs   copied from http://codepen.io/jamesbarnett/pen/kcwzq -->
<!--    Masonry  with susy
        <!-- Masonry gutter sizer-->
<!--      <div class="cards-gutter"></div> -->
     <!-- Masonry columnWidth sizer -->
<!--      <div class="cards-column"></div> -->
 <ul class="list">  
   {% for course in courses %}

<!--  Variables -->
         <!-- Find School url -->
              {% assign schools = site.schools | where: 'adminTitle' , course.school %}
              {% for school in schools %}
                 {% capture  schoolTitle %}{{ school.title }}{% endcapture %}
                 {% capture  schoolUrl %}{{ school.url }}{% endcapture %}
         <!--    Find Place Perioxi -->
                     {% assign places = site.places | where: 'adminTitle', school.place %}
                     {% for place in places %}
                        {% capture  placePerioxi %}{{ place.perioxi }}{% endcapture %}
                     {% endfor %}
              {% endfor %} 
<!--   End Variables -->
<!--     Begin List -->
   <li class="cards-item">
<!-- Cards  Image -->
      <div class="cards-img">
         <img src="http://placehold.it/350x250">
         </div>
<!-- Cards Text -->
      <div class="cards-text">
   <!-- Course Title -->
           <div class="cards-title">
              <a class="cardstitle" href="{{ site.baseurl}}/{{ course.url }}">{{ course.title }}</a>
         </div>
         <div class="cards-perioxi">
            {{ placePerioxi }}
         </div>
           <p>{{ course.content | split:"<!-- more -->" | first | strip_html | truncate:300 }}
            {% if course.content | size > 300 %}
               <strong>περισσότερα</strong>
            {% endif %}
         </p>
         </div>
      <div class="cards-school-categories">
                <div class="cards-school">
                <div class="cards-subtitle"><a href="{{ site.baseurl}}/{{ schoolUrl }}">{{ schoolTitle }}</a></div>
                  </div>   
      <!--   Categories -->
         <div class="cards-categories">
            <span class="categories"><a href="{{site.baseurl}}/categories/{{ course.categories}}">{{ course.categories}}</a></span>,
            <span class="age">{{ course.age }}</span>,
            <span class="level">{{ course.level }}</span>
            </div>
         </div>
      </li>      
    {% endfor %} 
  </ul>
</div>
