 {% for cat in subcategory_two.items %}
                      <div class="groupby-items">
                         <div class="groupby-text">
                            {% if {{cat.url}} != nill %}
                               {% if cat.id-winter %}
                                  <div class="groupby-title"><a href="{{site.baseurl}}/pages/epilegomena/epilegomena-onefile-allsemester/#{{ cat.id-winter}}">{{ cat.course }}</a></div>
                                  {% else %}
                                     <div class="groupby-title"><a href="{{site.baseurl}}/pages/epilegomena/epilegomena-onefile-allsemester/#{{ cat.id-spring}}">{{ cat.course }}</a></div>   
                               {% endif %}                               
                            {% else %}
                               <div class="groupby-title">{{ cat.course }}</div>
                            {% endif %}
                         </div>
                         
                         <div class="groupby-categories">
                               <div class="categories-place" title="περιοχή" class="tooltip">{{ cat.place }}</div>
                               
                           <div class="seasons">
                                  {% case include.season %}
                                     {% when "winter" %}
                                          <div class="season{{ cat.spring }} item" title="διαθέσιμο" class="tooltip" >{{ cat.spring }}</div> 
                                    {% when "spring" %}
                                        <div class="season{{ cat.winter }} item" title="διαθέσιμο" class="tooltip">{{ cat.winter }}</div> 
                                 {% endcase %}
                               
                            </div>

                         </div>
                      </div> 
                  {% endfor %}