<div id="allsemester" class="groupby">
   {% assign courses_data = site.data.epilegomena_allsemesters | group_by: include.tag %}
   <div class="category-links">
         {% for course in courses_data %}    
                  <a href="#{{ course.name | slugify }}">Ομάδα {{ course.name }}</a>
          {% endfor%}
   </div>
<!--  for listjs   copied from http://codepen.io/jamesbarnett/pen/kcwzq -->
 <ul id="courses-ul" >     
   {% for course in courses_data %}
    
      <li>  
         <div id="{{ course.name | slugify }}" class="category-title">Ομάδα {{ course.name }}</div>
         
         <div class="category">


                  {% assign course-items-sorted-day = course.items | sort: "day"%}
              
                  {% for cat in course-items-sorted-day %}
                      <div class="groupby-items">
 
                            {% if {{cat.url}} != nill %}
                               <div class="groupby-title"><a href="{{cat.url}}" title="e-tefaa" class="tooltip">{{ cat.course }}</a></div>
                            {% else %}
                               <div class="groupby-title">{{ cat.title }}</div>
                            {% endif %}
                            <div class="groupby-school-categories">
                               <div class="groupby-categories">
                                  <span class="categories-place">{{ cat.place }}</span>
                                  <span class="categories-day">{{ cat.day }}: {{ cat.time_spring }} {{ cat.time_winter }}</span>              
                               </div>
                            </div>

                         <div class="seasons">
                               <div class="season{{ cat.winter }} item">{{ cat.winter }}</div> 
                               <div class="season{{ cat.spring }} item">{{ cat.spring }}</div> 
                         </div>

                      </div> 
                  {% endfor %}
               

            
 
                

            
<!--             SUBCATEGOrY -->
         </div>
       </li>  
    {% endfor %} 
  </ul>
</div>