<div id="allsemester" class="groupby">
   {% assign courses_data_unsorted = site.data.epilegomena_allsemesters | sort: "rensponsible" %}
   {% assign courses_data = courses_data_unsorted | group_by: "rensponsible" %}
   <div class="category-links--teacher">
         {% for course in courses_data %}    
                  <a href="#{{ course.name }}">{{ course.name }}</a>
          {% endfor%}
   </div>
<!--  for listjs   copied from http://codepen.io/jamesbarnett/pen/kcwzq -->
 <ul id="courses-ul" >     
   {% for course in courses_data %}
    
      <li>  
         <div id="{{ course.name }}" class="category-title">
            {{ course.name }}

            <span class="to-top"><a href="#page-title">back to top</a></span>
         </div>
         
         <div class="category">



              {% assign course-items-sorted = course.items | sort: "day_for_order" %}
            
                  {% for cat in course-items-sorted %}
                      <div class="groupby-items">
                         <div class="groupby-details">
 
                            {% if {{cat.url}} != nill %}
                               <div class="groupby-title"><a href="{{cat.url}}" title="e-tefaa" class="tooltip">{{ cat.course }}</a></div>
                            {% else %}
                               <div class="groupby-title">{{ cat.course }}</div>
                            {% endif %}
                            
                             <div class="categories-etefaa">
                               {% if {{cat.url}} != nill %}
                                  <a href="{{cat.url}}" >e-tefaa</a>
                               {% endif %}                            
                            </div>
                            
                            <div class="categories-place"><a href="{{site.baseurl}}/pages/epilegomena/epilegomena-onefile-allsemester/#{{ cat.team }}">Ομάδα: {{ cat.team }}</a></div>   
                            
                            <div class="categories-place">{{ cat.classroom }}</div>
                            
                           {% if {{cat.teacher}} %}
                               <div class="categories-place">Διδάσκων: {{ cat.teacher }}</div>
                              {% endif %}
                            
                           </div>
                         
                           
                            
                        {% include season-template.html %}
                            
                 

                      </div> 
                  {% endfor %}
               

            
 
                

            
<!--             SUBCATEGOrY -->
         </div>
       </li>  
    {% endfor %} 
  </ul>
</div>