<div id="courses" class="groupby">
   {% assign epilegomenadata = site.data.epilegomena_allsemesters | group_by: include.season %}
<!--    GROUP BY SEASON -->
   {% assign epilegomenadata_season = epilegomenadata | where: "name", include.season %}
   {% for coursesdata in epilegomenadata_season %}
<!--    GROUP BY TEAM -->
      {% assign coursesdata-unsorted = coursesdata.items | sort: "team_for_order" %}
      {% assign courses_data = coursesdata-unsorted | group_by: "team" %}
   {% endfor %}
   <div class="category-links">
         {% for course in courses_data %}    
                  <a href="#{{ course.name }}">Ομάδα {{ course.name }}</a>
          {% endfor%}
   </div>

 <ul id="courses-ul" >     
   {% for course in courses_data %}
    
      <li>  
         <div id="{{ course.name }}" class="category-title">
            <div class="team--number">
               
               Ομάδα {{ course.name }} 
               
               {% include season-template-current.html %}
            
               <div class="to-top"><a href="#page-title">back to top</a></div> 
            </div> 
            
            
            
            {% for team in site.data.phed-data.epilegomena2013 %}
               {% assign team-slug = course.name %}
                     {% if team.team == team-slug %}
                         <div class="team--title">{{ team.title }}</div>
                         <div class="team--description">{{ team.text }}</div>
                     {% endif%}
               {% endfor%}

            
         </div>
         
         <div class="category">
<!--             TIME -->
         {% assign courses_team = course.items | sort: "day_for_order" %}
         {% assign courses_team_data = courses_team | group_by: "day" %}
         {% for subcategory_onedeep in courses_team_data %}  
            
             
         <div class="subcategory-item">
            <div class="subcategory-title"><a href="{{site.baseurl}}/pages/epilegomena/{{include.season}}/{{page.year}}/epilegomena-{{include.season}}-day/#{{ subcategory_onedeep.name | slugify }}">{{ subcategory_onedeep.name }}</a></div>           
<!-- TEAM -->
              {% assign subcategory_twodeep = subcategory_onedeep.items | group_by: include.time %}  
              {% for subcategory_two in subcategory_twodeep %}  
            
            <div class="subcategory-twodeep-item">
               <div class="subcategory-twodeep-title">{{ subcategory_two.name }}</div>  
               
                                {% include course-template.html %}
               
            </div>
            
            {% endfor %}
                
<!--             SUBCATEGORY ITEM -->
            </div>
           {% endfor %}
            
<!--             SUBCATEGOrY -->
         </div>
       </li>  
    {% endfor %} 
  </ul>
</div>