<header class="navigation" role="banner">
  <div class="navigation-wrapper">
     
<!--  Logo -->
    <div class="logo">
        <a href="{{ site.baseurl }}/"><h2>The Students</h2></a>
        </div>
     <div  id="page-title" class="menu">
       <div class="menu-group">
        <div class="menu-title">Εξεταστική:</div>
          {% for year in site.data.phed-data.aliases %}
            <div class="menu-item">
               <div class="class">
                  <a href="{{site.baseurl}}/pages/exetastiki/winter/2015-2016/exetastiki_{{ year.alias }}">{{ year.year }}</a>
                 </div>
              </div>
            {% endfor %}
          </div>
        
        <div class="menu-group">
          <div class="menu-title">Επιλεγόμενα ανά ομάδα:</div>
           <div class="menu-item" >
              <a  href="{{site.baseurl}}/pages/epilegomena/winter/2015-2016/epilegomena-winter-team">(χειμερινό εξάμηνο)</a>
           </div>
            <div class="menu-item" >
              <a  href="{{site.baseurl}}/pages/epilegomena/spring/2015-2016/epilegomena-spring-team">(εαρινό εξάμηνο)</a>
           </div>
        </div>
        
           <div class="menu-group">
          <div class="menu-title">Επιλεγόμενα ανά ημέρα:</div>
           <div class="menu-item" >
              <a  href="{{site.baseurl}}/pages/epilegomena/winter/2015-2016/epilegomena-winter-day">(χειμερινό εξάμηνο)</a>
           </div>
              <div class="menu-item" >
              <a  href="{{site.baseurl}}/pages/epilegomena/spring/2015-2016/epilegomena-spring-day">(εαρινό εξάμηνο)</a>
           </div>              
           </div>
        
        <div class="menu-group">
           <div class="menu-item" >
              <a  href="{{site.baseurl}}/pages/epilegomena/epilegomena-onefile-allsemester">Συγκεντρωτικά ανά ομάδα</a>
           </div>
           <div class="menu-item" >
              <a  href="{{site.baseurl}}/pages/epilegomena/epilegomena-onefile-teacher">Συγκεντρωτικά ανά υπεύθυνο</a>
           </div>
        </div>
        
     </div>
   </div>
</header>

