<header class="navigation" role="banner">
  <div class="navigation-wrapper">
     
<!--  Logo -->
    <div class="logo">
        <a href="{{ site.baseurl }}/"><h2>Active Koala</h2></a>
        </div>
     <div class="menu">
          {% for year in site.data.phed-data %}
            <div class="menu-item">
               <div class="class">
                  <a href="{{site.baseurl}}/exetastiki_{{ year.alias }}">{{ year.year }}</a>
                 </div>
              </div>
            {% endfor %}

           <div class="menu-item" >
              <a  href="{{site.baseurl}}/epilegomena">Επιλεγόμενα</a>
           </div>
     </div>
   </div>
</header>

