<header class="navigation" role="banner">
  <div class="navigation-wrapper">
     
<!--  Logo -->
    <div class="logo">
        <a href="{{ site.baseurl }}/"><h2>Active Koala</h2></a>
        </div>
     <div class="menu">
       <div class="menu-group">
        <div class="menu-title">Εξεταστική:</div>
          {% for year in site.data.phed-data %}
            <div class="menu-item">
               <div class="class">
                  <a href="{{site.baseurl}}/exetastiki_{{ year.alias }}">{{ year.year }}</a>
                 </div>
              </div>
            {% endfor %}
          </div>
        <div class="menu-group">
          <div class="menu-title">Επιλεγόμενα:</div>
           <div class="menu-item" >
              <a  href="{{site.baseurl}}/epilegomena">ανά ημέρα</a>
           </div>
           <div class="menu-item" >
              <a  href="{{site.baseurl}}/epilegomena-team">ανά ομάδα</a>
           </div>
        </div>
     </div>
   </div>
</header>

