 <div class="seasons"> 
    {% if {{cat.winter}} %}
       <div class="season--item">
          <div class="season{{ cat.winter }} item">
             <a href="{{site.baseurl}}/pages/epilegomena/winter/{{page.year}}/epilegomena-winter-team/#{{ cat.team  }}">{{ cat.winter }} - team:{{ cat.team }}</a>
          </div> 
          <div class="categories-day"><a href="{{site.baseurl}}/pages/epilegomena/winter/{{page.year}}/epilegomena-winter-day//#{{ cat.day  }}">{{ cat.day }}:</a>  {{ cat.time_winter_15 }}</div>
       </div>
    {% endif %}

    {% if {{cat.spring}} %}
       <div class="season--item">
          <div class="season{{ cat.spring }} item">
             <a href="{{site.baseurl}}/pages/epilegomena/spring/{{page.year}}/epilegomena-spring-team/#{{ cat.team  }}">{{ cat.spring }} - team:{{ cat.team }}</a>
          </div> 
          <div class="categories-day"><a href="{{site.baseurl}}/pages/epilegomena/spring/{{page.year}}/epilegomena-spring-day//#{{ cat.day  }}">{{ cat.day }}:</a> {{ cat.time_spring_16 }}</div>
       </div>
    {% endif %}
</div>