<!-- School -->
{% assign schools = site.schools | where: 'adminTitle', page.school %}
{% for school in schools %}
   {% capture  schoolTitle %}{{ school.title }}{% endcapture %}
   {% capture  schoolUrl %}{{ school.url }}{% endcapture %}
   {% capture  schoolPhone %}{{ school.phone }}{% endcapture %}
   {% capture  schoolContent %}{{ school.content }}{% endcapture %}
   {% capture  schoolExcerpt%}{{ school.excerpt }}{% endcapture %}
      <!-- Place -->
      {% assign places = site.places | where: 'adminTitle', school.place %}
      {% for place in places %}
         {% capture  placeTitle %}{{ place.title }}{% endcapture %}
         {% capture  placeUrl %}{{ place.url }}{% endcapture %}   
         {% capture  placeAddress %}{{ place.address }}{% endcapture %}
         {% capture  placePerioxi %}{{ place.perioxi }}{% endcapture %}
         {% capture  placeLat %}{{ place.lat }}{% endcapture %}
         {% capture  placeLong %}{{ place.long }}{% endcapture %}
      {% endfor %}
{% endfor %}