$font-family-heading: Open sans, Helvetica, Arial, sans-serif;

/* Cards frontpage */
.cards {
   @include container;
   margin-bottom: 3em;
   ul {
    @include container;
   }
   li {
      list-style: none;
   }
   .cards-item {
      @include gallery ( 4 of 12);
      background: $cards-bg;
      border: 1px solid $border-color;
      border-radius: 6px;
      margin-bottom: gutter();
   }
   .cards-img img {
      border-radius: 6px 6px 0 0;
      border-bottom: 1px solid $border-color;
   }
   .cards-text {
      padding: 1rem;
      border-bottom: 1px solid $border-color;
      .cards-title {
         font-size: 24px;
         font-weight: bold;
         font-family: $font-family-heading;
         a {
            color: #AB1386;
            &:hover {
              text-decoration: underline;
            }
         }
      }
      .cards-perioxi {
         
      }
   }
   .cards-school-categories {
      &:hover {
         background: $lighter-grey;
      }
   }
   .cards-school {
      padding: 1rem 1rem 0;
      color: #6E6E6E;
      .cards-subtitle {
         font-size: 15px;
         a {
            display: block;
            color: $grey;
         }
      }
   }
   .cards-categories {
      font-size: 14px;
      padding: 0 1rem 1rem;
      font-weight: bold;
   }
}